.sign_in_fixed {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 250px;
    width: 100%;
    z-index: 101;


    .sing_in_fixed_area {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        border-radius: 8px;

        .sign_in_main {
            margin: 5rem 0;

            h4 {
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 1rem;
                color: #4F4F4F;
                font-weight: 500;
            }

            .password_name {
                margin-top: 2rem;
            }

            input {
                width: 100%;
                max-width: 27rem;
                height: 48px;
                padding: 0 1.5rem;
                border-radius: 8px;
                border: 0;
                background-color: #F2F2F2;
            }

            .forget_password_area {
                display: flex;
                justify-content: flex-end;

                .forget_password {
                    color: #333333;
                    font-weight: 400;
                    margin-top: 1rem;
                    margin-bottom: 5rem;
                    cursor: pointer;
                }
            }

            .sign_in_button {
                width: 100%;
                width: 27rem;
                height: 48px;
                border-radius: 8px;
                border: 0;
                background-color: #1D2123;
                color: white;
                cursor: pointer;
            }
        }

        .sign_in_sign_up {
            display: flex;
            list-style-type: none;

            .sign_in_link {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 192px;
                height: 56px;
                font-size: 16px;
                line-height: 20px;
                font-weight: 500;
                cursor: pointer;
            }

            .acvtive_sign_in {
                color: $clr-primary-pink;
                border-radius: 8px 0px;
            }

            .active_sign_up {
                background-color: #F2F2F2;
                border-radius: 0px 8px;
            }
        }
    }
}

.loginOverlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100000vh;
    background-color: #333333;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 100;
}

.active_fixed {
    display: flex;
}

.password_area {
    position: relative;

    .eye {
        position: absolute;
        top: 1.6rem;
        right: 1.6rem;
        width: 20px;
        height: 15px;
        font-size: 16px;
        color: $clr-gray-3;
        cursor: pointer;

        // &:nth-child(2) {
        //     display: none;
        // }
    }
}

@media (max-width:576px) {
    .sign_in_fixed {
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 250px;
        width: 100%;
        z-index: 101;


        .sing_in_fixed_area {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: white;
            border-radius: 8px;
            margin: 0 auto;
            width: 90%;

            .sign_in_main {
                margin: 5rem 0;

                h4 {
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 1rem;
                    color: #4F4F4F;
                    font-weight: 500;
                }

                .password_name {
                    margin-top: 2rem;
                }

                input {
                    width: 100%;
                    max-width: 27rem;
                    height: 48px;
                    padding: 0 1.5rem;
                    border-radius: 8px;
                    border: 0;
                    background-color: #F2F2F2;
                }

                .forget_password_area {
                    display: flex;
                    justify-content: flex-end;

                    .forget_password {
                        color: #333333;
                        font-weight: 400;
                        margin-top: 1rem;
                        margin-bottom: 5rem;
                        cursor: pointer;
                    }
                }

                .sign_in_button {
                    width: 100%;
                    width: 27rem;
                    height: 48px;
                    border-radius: 8px;
                    border: 0;
                    background-color: #1D2123;
                    color: white;
                    cursor: pointer;
                }
            }

            .sign_in_sign_up {
                display: flex;
                list-style-type: none;

                .sign_in_link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // width: 100%;
                    max-width: 192px;
                    height: 56px;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 500;
                    cursor: pointer;
                }

                .acvtive_sign_in {
                    color: $clr-primary-pink;
                    border-radius: 8px 0px;
                }

                .active_sign_up {
                    background-color: #F2F2F2;
                    border-radius: 0px 8px;
                    width: 100%;
                }
            }
        }
    }

    .loginOverlay {
        display: none;
        position: fixed;
        width: 100%;
        height: 100000vh;
        background-color: #333333;
        opacity: 0.5;
        top: 0;
        left: 0;
        z-index: 100;
    }

    .active_fixed {
        display: flex;
    }

    .password_area {
        position: relative;

        .eye {
            position: absolute;
            top: 1.6rem;
            right: 1.6rem;
            cursor: pointer;
        }
    }
}